.SideDrawer{
    position: fixed;
    width: 280px;
    height: 100%;
    max-width: 70%;
    top: 0;
    left: 0;
    background-color: white ;
    padding: 32px 16px;
    box-sizing: border-box;
    z-index: 200;
    transition: transform 0.3s ease-out;
}

/*
 max-width: 70%; so wont go too much into edge
 z-index: 200; shoult always be on top of backdrop
*/

@media(min-width:500px){
    .SideDrawer
    {
     display: none;
    }
}
/* *****this makes sure that display above 500px will not see the side drawer
i.e only mobile phone users could see   */

.Open{
    transform: translateX(0);
}

.Close{
    transform: translateX(-100%);
}

.Logo{
    height: 11%;
    margin-bottom: 32px;
}